main {
	font-family: sans-serif;
	width: 90%;
	max-width: 1024px;
	padding: 0px;
	margin: 15px auto 0px 30px;
	font-size: 1.4rem;
}
details{
	font-family: sans-serif;
	max-width: 1024px;
	width: 90%;
	padding: 0px;
	margin: 15px auto 0px 30px;
	font-size: 1.4rem;
}

summary {
	background-color: #ddaaee;
	border-radius: 15px;
	padding: 15px;
	font-size: 1em;
	font-weight: bolder;
	box-shadow: #999 1px 1px 3px;
}

summary:hover {
	background-color: floralwhite;
}

details>summary {
	cursor: pointer;
}

details[open]>summary {
	background-color: floralwhite;
}

details article {
	width: 90%;
	padding: 15px 15px 5px;
}

a {
	color: #b94fea;
	font-size: 0.7em;
	font-weight: bolder;
}


h1 {
	font-size: 1em;
	margin: 0.4em 0em 0.3em;
}
h2 {
	font-size: 0.95em;
}

h3 {
	font-size: 0.90em;
}

h4 {
	font-size: 0.85em;
}
h5 {
	font-size: 0.80em;
}
h6 {
	font-size: 0.75em;
}
p {
	font-size: 0.7em;
	margin: 0.4em 0em 0.3em;	
}
b {
	font-size: 0.7em;
}
.codice {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 6px solid #f4a888;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 0.6em;
	line-height: 1.6;
	margin: 1em;
	width: 70%;
	overflow: auto;
	display: block;
	padding: 0em 1em 1em;
	white-space: pre-line;
	word-wrap: normal;
}
@media (max-width: 768px) {
	main {
		width: 98%;
		padding: 0px;
		margin: 5px auto 0px auto;
		font-size: 1.2rem;

	}
	details {
		font-family: sans-serif;
		width: 98%;
		padding: 0px;
		margin: 5px auto 0px auto;
		font-size: 1.2rem;
	}
	summary {
		background-color: #bdaaee;
		border-radius: 15px;
		padding: 15px;
		font-weight: bolder;
		box-shadow: #999 1px 1px 3px;
	}
	
	p {
		width: 98%;
	}
	.codice {
		margin: 0.5em;
		width: 90%;
	}

}